// Our colour theme
$light-shade: #f7f9fa;
$light-purple: #b2a8bf;
$main-orange: #ffb17a;
$main-blue: #3988ff;
$dark-shade: #3b386a;

// Bootstrap theme colors
$theme-colors: (
  'default': #999999,
  'primary': #f6af79,
  'info': #3b386a,
  'success': #7faf5c,
  'warning': #fc9f24,
  'danger': #f44336
);
